﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="SchedulerApp.Client.Views.WebForm1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            Select up to 10 toppings</div>
    </form>
    <div>
        <input id="Checkbox1" type="checkbox" /> Peperoni<input id="Checkbox2" type="checkbox" /> Olive<div>
            Select sides:</div>
        <div>
        </div>
    </div>
</body>
</html>
