﻿@{
    ViewBag.Title = "Home Page";
}

@* huge banner *@
<div class="jumbotron">
    <h1>Myami University</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Myami University</h2>
        <p>
            ASP.NET Web application to manage Academic database using
            Entity Framework 6 and MVC 5.
        </p>
    </div>
    @* add more infos with <div class="col-md-4"> *@
    @*<div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>