﻿@model SchedulerApp.Client.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*The property name of the entity ie. "LastName"*@
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @*the actual value of the property*@
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enrollments)
        </dt>

        <dd>
            @*make a table*@
            <table class="table">
                <tr>
                    @*headers*@
                    <th>Course Title</th>
                    <th>Grade</th>
                </tr>
                @*get data from each Enrollment and display it*@ 
                @foreach (var item in Model.Enrollments)
                {
                    <tr>
                        <td>
                        @Html.DisplayFor(modelItem => item.Course.Title)
                        </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.Grade)
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
