﻿@model SchedulerApp.Client.Models.Order
@*@model SchedulerApp.Client.Models.OrderViewModel*@


@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
@*< a href = "~/Views/Order/Create.cshtml" > ~/ Views / Order / Create.cshtml </ a >*@
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Order</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CustomerID, "CustomerID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CustomerID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CustomerID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SizeID, "SizeID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SizeID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SizeID, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Listbox for Toppings *@
        <div class="form-group">
            @*@Html.LabelFor(model => model.SelectedToppings, htmlAttributes: new { @class = "control-label col-md-2" })*@
            @Html.Label("Toppings", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @*@Html.ListBoxFor(m => m.SelectedToppingIDs, new MultiSelectList(Model.Toppings, "ID", "Name"), htmlAttributes: new { @class = "form-control", size = Model.Toppings.Count() })
                @Html.ValidationMessageFor(m => m.SelectedToppingIDs, "", new { @class = "text-danger" })*@
                @Html.ListBox("ToppingIDs", (SelectList)ViewBag.ToppingList, htmlAttributes: new { @class = "form-control", size = ViewBag.ToppingCount })
                @*@Html.ListBox("ToppingIDs", new MultiSelectList(Model.Toppings, "ID", "Name"), htmlAttributes: new { @class = "form-control", size = Model.Toppings.Count() })*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
