﻿@model SchedulerApp.Client.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Order Details</h2>

<div>
    @*<h4>OrderID</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("OrderID")
        </dt>
        
        <dd>
            @Html.DisplayFor(mode => mode.ID)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Customer.FirstName)*@
            @Html.DisplayName("Customer")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FirstName)
            @Html.DisplayFor(model => model.Customer.LastName)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Size.Name)*@
            @Html.DisplayName("Size")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelectedToppings)
        </dt>

        <dd>
            @*make a table*@
            <table class="table">
                <tr>
                    @*headers*@
                    <th>Name</th>
                    <th>Price</th>
                </tr>
                @{
                    double total = Model.Size.Price;
                }
               
                @*get data from each Enrollment and display it*@
                @foreach (var item in Model.SelectedToppings)
                {
                    total += item.Topping.Price;
                    ViewBag.Total += item.Topping.Price;
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Topping.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Topping.Price)
                        </td>
                    </tr>
                }
            </table>
        </dd>

        <dt>
            @Html.DisplayName("Total")
        </dt>

        <dd>
            @total.ToString("0.00")
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
